<!DOCTYPE html>
<html>
 
<head>
    <title>BuildYourHome Stores | Store</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: rgb(135, 235, 173);
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
    <center>This is version 2 of homepage.</center>
</body>
 
</html>   