<!DOCTYPE html>
<html>
 
<head>
    <title>Homejoy Stores | Store</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
    <center>This is version1 of homepage.</center>
</body>
 
</html>   